<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log.It - Login</title>
    <link rel="stylesheet" href="/static/acknowledge.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <div>
                <h4 id="lname">Log.It</h4>
            </div>
        </div>
        <div id="options">
            <li><a href="/">Main</a></li>
            <li><a href="/acknowledge">Acknowledgements</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
    </div>
    <div id="arrow-right"></div>
    <ul id="toc" class="hidden">
        <li id="test" class="list-group-item"><a href="/test">Test</a></li>
        <li id="learn" class="list-group-item"> <a href="/learn">Learn</a></li>
        <li id="result" class="list-group-item"><a href="/result">Result</a></li>
        <li id="rand_fact" class="list-group-item"><a href="/rand_fact">Random Fact</a></li>
    </ul>
    <div id="login-container">
        <div id="content">
            <h1>Login</h1>
            <form action="/submit_login" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </div>
    </div>
    <div id="copyright">
        @copyright HamzaK UmerT | 2024
    </div>
</body>
</html>
