<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log.It</title>
    <link rel="stylesheet" href="/static/test.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/rand_fact.js"></script>
    

</head>
<body>
    <div id="navbar">
        <div id="logo">
            <div>
                <h4 id="lname">Log.It</h4>
            </div>
        </div>
        <div id="options">
            <li><a href="/">Main</a></li>
            <li><a href="/acknowledge">Acknowledgements</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
    </div>
    <div id="arrow-right"></div>
    <ul id="toc" class="hidden">
        <li id="test" class="list-group-item"><a href="/test">Test</a></li>
        <li id="learn" class="list-group-item"> <a href="/learn">Learn</a></li>
        <li id="result" class="list-group-item"><a href="/result">Result</a></li>
        <li id="rand_fact" class="list-group-item"><a href="/rand_fact">Random Fact</a></li>
      </ul>


      <div id="content">
            <h3>Ready to learn a random fact today?</h3>
            <button id="test_start">Yes</button>
      </div>
      <div id="popup" class="popup">Popup Content</div>

    <div id="copyright">
        @copyright HamzaK UmerT | 2024
    </div>
</body>
</html>


